[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/
MemoryCaptures/
Recordings/
.gradle/
.vs/
.idea/
*.csproj
*.sln
*.unityproj
*.user
*.pidb
*.suo
*.tmp
*.booproj
*.svd
*.pdb
*.apk
*.aab
*.keystore
